@use "sass:math";
#hamburger,#X-hamburger {
  display: none;
}
.logo img {
  width: 145px;
  height: 25px;
}
html {
  font-size: 15px;
}

header {
  height: 650px;
  // background-image: url("./images/desktop/image-hero.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("./images/desktop/image-hero.jpg");
  overflow: hidden;
  h1 {
    font-size: 70px;
    letter-spacing: 0.02em;
    height: 200px;
    min-width: 514px;
    max-width: 694px;
    padding: 39px 90px 37px 39px;
    width: math.div(519px,1440px)*100%;
    margin: 146px math.div(626,1440)*100% 148px math.div(166,1440)*100%;
    border: 2px solid white;
  }
  .nav-container {
    flex-direction: row;
    margin: 62px math.div(166,1440)*100%;
    .logo {
      float: left;
    }
    .nav {
      margin-left: 70%;
      a {
        margin: auto math.div(32,1108)*100%;
      }
    }
  }
}
main {
  height: 2086px;
  overflow: hidden;
  h2 {
    font-size: 48px;
    min-width: 413px;
  }
  .section-1 {
    height: 501px;
    width: math.div(1112,1440)*100%;
    margin: 159px math.div(164,1440)*100%;
    position: relative;
    picture img{
      height: 100%;
      width: math.div(731,1112)*100%;
    }
    .VR-leader {
      height: 317px - 96px;
      width: math.div(446,1112)*100%;
      padding-top: 96px;
      padding-left: math.div(96,1112)*100%;
      position: absolute;
      background: white;
      top: 185px;
      right: 0;
      p {
        line-height: 164%;
      }
      h2 {
        margin-top:0;
        margin-bottom: 25px;
      }
    }
  }
  .section-2 {
    height: 1089px;
    grid-gap: 30px;
    grid-auto-columns: 17.778%;
    margin: 169px math.div(163,1440)*100%;
    width: 100%;
    h2 {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
    }
    #see-all {
      grid-row: 1 / 2;
      grid-column: 4 / 5;
      letter-spacing: 0.3em;
      height: 21px;
      width: 28%;
      min-width: 81px;
      padding: 8px 10%;
      margin: auto;
      margin-right: 0;
    }
    .creations {
      height: 450px;
      width: 100%;
      .creation-title {
        font-size: 31px;
        letter-spacing: 0.03em;
        padding: 357px 18% 30px 14%;
        min-width: 174px;
      }
    }
    #Earth{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
      background-image: url("./images/desktop/image-deep-earth.jpg");
    }
    #Arcade{
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      background-image: url("./images/desktop/image-night-arcade.jpg");
    }
    #Soccer{
      grid-row: 2 / 3;
      grid-column: 3 / 4;
      background-image: url("./images/desktop/image-soccer-team.jpg");
    }
    #Grid{
      grid-row: 2 / 3;
      grid-column: 4 / 5;
      background-image: url("./images/desktop/image-grid.jpg");
    }
    #UpAbove{
      grid-row: 3 / 4;
      grid-column: 1 / 2;
      background-image: url("./images/desktop/image-from-above.jpg");
    }
    #Pocket{
      grid-row: 3 / 4;
      grid-column: 2 / 3;
      background-image: url("./images/desktop/image-pocket-borealis.jpg");
    }
    #Curiosity{
      grid-row: 3 / 4;
      grid-column: 3 / 4;
      background-image: url("./images/desktop/image-curiosity.jpg");
    }
    #Fisheye{
      grid-row: 3 / 4;
      grid-column: 4 / 5;
      background-image: url("./images/desktop/image-fisheye.jpg");
    }
  }
}
footer {
  height: 70px;
  padding: 45px math.div(165,1440)*100%;
  grid-row-gap: 25px;
  .logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .socials {
    display: flex;
    width: 150px;
    margin-left: auto;
    margin-right: 0;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    a {
      margin: auto;
      img {
        width: 24px;
        height: 24px;
      }
      #icon-twitter {
        height: 20px;
      }
    }
    a:active:after {
      width: 24px;
    }
  }
  .nav {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    a {
      margin: auto;
      margin-left: 0;
    }

  }
  .copyright {
    margin-left: auto;
    margin-right: 0;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}
