@use "sass:math";
html {
  font-size: 19px;
  min-width: 477px;
}
header {
  height: 828px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./images/mobile/image-hero.jpg");
  overflow: hidden;
  h1 {
    font-size: 51px;
    height: 192px;
    min-width: 317px;
    padding: 31px 29px 25px 29px;
    width: 74.4%;
    margin: 206px 6.7% 290px 6.7%;
    border: 2px solid white;
  }
  .nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 34px;
    margin: 50px 6.3%;
    .logo {
      float: left;
      z-index: 2;
    }
    .nav {
      display: none;
      width: 100%;
      min-width: 477px;
      height: 272px;
      background: black;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 278px 0;
      a {
        margin: 0 0 35px 30px;
      }
    }
    #hamburger {
      float: right;
    }
    #X-hamburger {
      float: right;
      display: none;
      z-index: 2;
    }
  }
}
main{
  height: 2669px;
  h2 {
    font-size: 40px;
    min-width: 365px;
  }
  .creations {
    font-size: 30px;
  }
  .section-1 {
    margin: 120px math.div(31px,477px)*100%;
    text-align: center;
    .VR-leader {
      margin: 62px math.div(25px,415px)*100%;
      h2 {
        margin-bottom: 29px;
      }
      p {
        line-height: 170%;
        min-width: 365px;
      }
    }
  }
  .section-2 {
    grid-gap: 30px;
    margin: auto math.div(30px,477px)*100%;
    h2 {
      margin: auto math.div(41px,417px)*100%;
    }
    #see-all {
      grid-row-start: 10;
      grid-row-end: 11;
      padding: 12px math.div(47px,417px)*100%;
      height: 26px;
      width: 105px;
      align-self: center;
      margin: auto math.div(109px,417px)*100%;
    }
    #Earth{
      background-image: url("./images/mobile/image-deep-earth.jpg");
    }
    #Arcade{
      background-image: url("./images/mobile/image-night-arcade.jpg");
    }
    #Soccer{
      background-image: url("./images/mobile/image-soccer-team.jpg");
    }
    #Grid{
      background-image: url("./images/mobile/image-grid.jpg");
    }
    #UpAbove{
      background-image: url("./images/mobile/image-from-above.jpg");
    }
    #Pocket{
      background-image: url("./images/mobile/image-pocket-borealis.jpg");
    }
    #Curiosity{
      background-image: url("./images/mobile/image-curiosity.jpg");
    }
    #Fisheye{
      background-image: url("./images/mobile/image-fisheye.jpg");
    }
    .creations {
      .creation-title {
        padding: 64px math.div(200px,417px)*100% 27px math.div(26px,417px)*100%;
      }
      height: 153px;
    }
  }
}
footer {
  height: 599px;
  grid-gap: 24px;
  padding: 71px math.div(57px,477px)*100%;
  .logo {
    margin :auto;
  }
  .socials {
    margin: auto;
    min-width: 294px;
    * {
      margin: 0 10px;
    }
    a:active:after {
      width:30px;
      left: 10px;
    }
  }
  .copyright {
    min-width: 345px;
    margin: auto;
  }
}
.nav {
  flex-direction: column;
  a {
    display: block;
    margin: auto;
  }
}
