html {
  font-size: 19px;
  min-width: 477px;
}

header {
  height: 828px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/mobile/image-hero.jpg");
  overflow: hidden;
}
header h1 {
  font-size: 51px;
  height: 192px;
  min-width: 317px;
  padding: 31px 29px 25px 29px;
  width: 74.4%;
  margin: 206px 6.7% 290px 6.7%;
  border: 2px solid white;
}
header .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 34px;
  margin: 50px 6.3%;
}
header .nav-container .logo {
  float: left;
  z-index: 2;
}
header .nav-container .nav {
  display: none;
  width: 100%;
  min-width: 477px;
  height: 272px;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 278px 0;
}
header .nav-container .nav a {
  margin: 0 0 35px 30px;
}
header .nav-container #hamburger {
  float: right;
}
header .nav-container #X-hamburger {
  float: right;
  display: none;
  z-index: 2;
}

main {
  height: 2669px;
}
main h2 {
  font-size: 40px;
  min-width: 365px;
}
main .creations {
  font-size: 30px;
}
main .section-1 {
  margin: 120px 6.498951782%;
  text-align: center;
}
main .section-1 .VR-leader {
  margin: 62px 6.0240963855%;
}
main .section-1 .VR-leader h2 {
  margin-bottom: 29px;
}
main .section-1 .VR-leader p {
  line-height: 170%;
  min-width: 365px;
}
main .section-2 {
  grid-gap: 30px;
  margin: auto 6.2893081761%;
}
main .section-2 h2 {
  margin: auto 9.8321342926%;
}
main .section-2 #see-all {
  grid-row-start: 10;
  grid-row-end: 11;
  padding: 12px 11.2709832134%;
  height: 26px;
  width: 105px;
  align-self: center;
  margin: auto 26.139088729%;
}
main .section-2 #Earth {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./images/mobile/image-deep-earth.jpg");
}
main .section-2 #Arcade {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./images/mobile/image-night-arcade.jpg");
}
main .section-2 #Soccer {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./images/mobile/image-soccer-team.jpg");
}
main .section-2 #Grid {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./images/mobile/image-grid.jpg");
}
main .section-2 #UpAbove {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./images/mobile/image-from-above.jpg");
}
main .section-2 #Pocket {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./images/mobile/image-pocket-borealis.jpg");
}
main .section-2 #Curiosity {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./images/mobile/image-curiosity.jpg");
}
main .section-2 #Fisheye {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./images/mobile/image-fisheye.jpg");
}
main .section-2 .creations {
  height: 153px;
}
main .section-2 .creations .creation-title {
  padding: 64px 47.9616306954% 27px 6.2350119904%;
}

footer {
  height: 599px;
  grid-gap: 24px;
  padding: 71px 11.9496855346%;
}
footer .logo {
  margin: auto;
}
footer .socials {
  margin: auto;
  min-width: 294px;
}
footer .socials * {
  margin: 0 10px;
}
footer .socials a:active:after {
  width: 30px;
  left: 10px;
}
footer .copyright {
  min-width: 345px;
  margin: auto;
}

.nav {
  flex-direction: column;
}
.nav a {
  display: block;
  margin: auto;
}

/*# sourceMappingURL=mobile.css.map */
